body{
  width:100%;
  margin: 0;
  padding: 0;
}

/*表の体裁*/
.pageTitle{
  color: #12526d;
  margin-left: 10%;
}

.itemLine{
  display: flex;
  justify-content: center;

}
.leftBox{
  width: 250px;
  text-align: right;
  background-color: #bababa;
  color: #12526d;
  border-width: 1px;
	border-style: solid;
	border-color: #000000;
}
.rightBox{
  width: 350px;
  text-align: left;
  border-width: 1px;
	border-style: solid;
	border-color: #000000;
}
.oneTextLine{
  margin-right: 40px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.tableSetter{
  margin-bottom: 10px;
}

.inputButton{
  text-align: center;
  margin-bottom: 10px;
  color: #12526d;
  border-radius: 10px;
}

.completeMsg{
  text-align: center;
}

.backToList{
  text-align: center;
}

input.inputChar{
  width: 180px;
}

.errorMsg{
  color: red;
  margin-left: 10%;
}